<!doctype html>
<html lang="en">

<head>
    <%- include('partials/template/head') %>
</head>

<body id="<%= pageID %>">
    <%- include('partials/template/spinner') %>
    <%- include('partials/template/navbar') %>

    <%- include('partials/template/ribbon') %>

    <br><br>
    
    <%- include('partials/content/newscards') %>        

    <br><br>

    <%- include('partials/template/footer') %>


    <%- include('partials/template/foot') %>

</body>
</html>
